doctype html
block definitions
html(lang='en-US')
    head
        block head
            //- Fix charset
            meta(charset='utf-8')

            //- Metas
            -
                const metas = {
                    'viewport': 'width=device-width, initial-scale=1',
                    'theme-color': '#252831'
                }
            each content, name in metas
                meta(name=name content=content)

            //- Web Wpp Manifest
            link(rel='manifest' href='/manifest.json')

            //- register the service worker
            script
                | if ('serviceWorker' in navigator) window.addEventListener('load', function () {
                |        navigator.serviceWorker.register('/sw.js')
                | })

            block Stylesheets
                link#styles(rel='stylesheet' href='/css/styles.css' disabled)

            //- Page Title
            title: block title

    body(class=bodyClass)
        block body
            //- Header
            header
                block header
                    nav: h1: a(href='/') Restaurant Reviews

            //- Main content
            main#maincontent
                block main
                    //- Map wrapper, hidden from the blind
                    aside#map-container(aria-hidden='true')
                        //- Link to skip map controlls for keyboard users
                        a#skipMap(href='#restaurants') Skip map controls
                        //- The map div
                        #map(role='application')

            //- Footer
            footer#footer
                block footer
                    | Copyright (c) 2017 #[a(href='/'): strong Restaurant Reviews] All Rights
                    | Reserved.

            block scripts
                script(src="/js/common.js")



